@font-face {
    font-family: Exo2Regular;
    src: url(../fonts/Exo2/Exo2-Regular.ttf);
}
@font-face {
    font-family: Exo2Bold;
    src: url(../fonts/Exo2/Exo2-Medium.ttf);
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Exo2Regular;
    outline:none;
    /*outline: 1px solid #000;*/
}
html,
body {
    height: 100%;
    color: #000;
    font-size: 18px;
    line-height: 1.5;
    background-color: #D0CCD0;
}
body.lock {
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #000;
}
picture,
img {
    font-size: 0;
}
h1{font-size: 40px}
h2{font-size: 35px}
h3{font-size: 30px}
h4{font-size: 25px}
h5{font-size: 20px}
h6{font-size: 15px}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    margin-top: 30px;
}
@media (max-width: 991px) {
    .display-smart {display: none;}
}
.grid__main {
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr;
    height: 100%
}
@media (max-width: 767px) {
    .grid__main {gap: 40px;}
}

/* title */
.page__title {
    font-size: 26px;
}
.page__title,
.banner__title {
    font-family: Exo2Bold;
    margin: 15px 0;
    padding-left: 5px;
    border-bottom: 2px solid #ed5351;
    color: #2c4059;
}
@media (min-width: 768px) {
    .page__title {font-size: 32px;}
}


/* sidebar */
.main__grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
}
.main__grid.sidebar {
    grid-template-columns: 9fr 3fr;
}
@media (max-width: 991px) {
    .main__grid {grid-template-columns: 1fr;}
    .main__sidebar {display: none;}
}

/* main */
.main {
    /*margin-top: 70px;*/
}
@media (max-width: 767px) {
    .main {
        /*margin-top: 60px;*/
    }
}

/* header */
.header__mine {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__secondary {
    position: fixed;
    width: 100%;
    top: 40px;
    left: 0;
    z-index: 50;
}
@media (min-width: 768px) {
    .header__secondary {
        top: 50px;
    }
}
.header__mine.nofixed {
    position: relative;
}

.header__mine:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(90deg, #ed5351, #f27c36, #fed555);*/
    background-color: #605856;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.header__logo {
    z-index: 200;
}
.header__logo img {
    max-width: 100%;
    display: block;
}
.header__menu-list {
    display: table;
    position: relative;
    overflow: paged-y-controls;
    width: 100%;
}
.header__menu-item {
    list-style: none;
    display: table-cell;
    text-align: center;
}
.header__menu-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}
.header__additional {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__additional > div:not(:last-child) {
    margin-left: 30px;
}
.header__search,
.header__avatar {
    color: #fff;
}
@media (max-width: 767px) {
    .header__body {
        height: 40px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-left: 30px;
    }
    .header__burger span {
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span,
    .header__burger:before,
    .header__burger:after {
        transition: 300ms ease-in-out;
    }
    .header__burger.active span {
        transform: scale(0) translateX(-30px);
    }
    .header__burger.active:before {
        transform: rotate(225deg);
        top: 9px;
    }
    .header__burger.active:after {
        transform: rotate(-225deg);
        bottom: 9px;
    }
    .header__burger.active span,
    .header__burger.active:before,
    .header__burger.active:after {
        transition: 300ms ease-in-out;
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
        transition: 300ms ease-in-out;
        margin-top: 40px;
    }
    .header__menu.active {
        left: 0;
        transition: 300ms ease-in-out;
    }
    .header__menu-list {
        display: block;
    }
    .header__menu-item {
        text-align: left;
        display: block;
    }
    .header__menu-link {
        display: block;
        padding: 10px 15px 10px 0;
        font-size: 24px;
    }
}

/* popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9000;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 200ms ease-in-out;
}
.popup::-webkit-scrollbar {
    width: 0;
}
.popup.open {
    opacity: 1;
    visibility: visible;
    transition: 200ms ease-in-out;
}
.popup.open .popup__content {
    opacity: 1;
    transition: 200ms ease-in-out;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}
.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 15px;
    position: relative;
    transition: 200ms ease-in-out;
    opacity: 0;
}
.popup__close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
}
.popup__close:before,
.popup__close:after {
    content: '';
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
}
.popup__close:before {
    top: 14px;
    transform: rotate(45deg);
}
.popup__close:after {
    bottom: 14px;
    transform: rotate(-45deg);
}
.popup__title {
    font-size: 30px;
    margin-bottom: 1em;
    margin-right: 30px;
}
.popup__area {
    overflow: auto;
}
@media (max-width: 767px) {
    .popup__title {
        font-size: 24px;
    }
}

/* search */
.search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 200ms ease-in-out;
}
.search::-webkit-scrollbar {
    width: 0;
}
.search.open {
    opacity: 1;
    visibility: visible;
    transition: 200ms ease-in-out;
}
.search__body {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 200;
    background-color: #fff;
}
.search__content {
    max-width: 800px;
    width: 100%;
    padding: 15px;
    position: relative;
    transition: 200ms ease-in-out;
    opacity: 0;
}
.search.open .search__content {
    opacity: 1;
    transition: 200ms ease-in-out;
}
.search__title {
    font-size: 22px;
    margin-bottom: 1em;
    margin-right: 30px;
    color: #000;
}
.search__form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search__close {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 1;
}
.search__close:before,
.search__close:after {
    content: '';
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
}
.search__close:before {
    top: 14px;
    transform: rotate(45deg);
}
.search__close:after {
    bottom: 14px;
    transform: rotate(-45deg);
}
.search__input {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
}
.search__input input {
    flex: 0 1 auto;
    font-size: 17px;
    font-family: Exo2Regular;
    padding: 5px 10px;
}
.search__text {
    width: 100%;
    height: 100%;
    border-radius: unset;
    background-color: rgba(0,0,0,0.2);
}
.search__button {
    color: #fff;
    background-color: #605856;
    text-transform: uppercase;
    cursor: pointer;
}
.title-search-result {

}

/* footer */
.footer {
    background-color: #605856;
    color: #fff;
}
.footer__body {
    padding: 20px 0;
}

.footer__item {
    padding: 10px;
}
.footer__menu-title {
    font-size: 14px;
    font-family: Exo2Bold;
    color: #D0CCD0;
    text-transform: uppercase;
    line-height: 1em;
}
.footer__menu {

}
.footer__menu li {
    display: inline-block;
    line-height: 1em;
}
.footer__menu li:not(:last-child) {
    padding-right: 10px
}
@media (max-width: 575px) {
    .footer__menu-title {
        text-align: center;
    }
    .footer__menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer__menu li {
        padding: 5px 10px;
        display: inline-block;
        line-height: 1.3em;
        text-align: center;
    }
}

.footer__menu-link {
    font-size: 13px;
    color: #fff;
}
.footer__info > div {
    line-height: 1em;
}
.footer__error {
    font-size: 13px;
}
.footer__error span {
    white-space: nowrap;
}
.footer_warning {
    margin: 10px 0;
    font-size: 10px;
}
@media (max-width: 767px) {
    .footer__error {
        display: none;
    }
    .footer_warning {
        margin: 0 0 10px 0;
    }
}
.footer__copyright {
    font-size: 10px;
}



/* inner page (snippets) */
.inner-page__text {
    font-size: 16px;
}
.inner-page__quote {

}
.inner-page__image img {
    width: 100%;
}
.inner-page__title {

}
.inner-page__list {

}

/* list_1 */
.list_1 {
	margin: 15px 0;
}
.list_1__item {
	background-color: #000;
	overflow: hidden;
	position: relative;
}
.list_1__link {
	display: block;
	height: 100%;
}
.list_1__link:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 70%;
	bottom: 0;
	left: 0;
	background: linear-gradient(0deg, #000, transparent);
	opacity: 0.7;
	transition: 300ms ease-in-out;
}
.list_1__link:hover:before {
	opacity: 0.8;
	transition: 300ms ease-in-out;
}
.list_1__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.list_1__info {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	color: #fff;
	padding: 15px;
}
.list_1__title {
	font-family: Exo2Bold;
	font-size: 17px;
	line-height: 1.4em;
}
@media (max-width: 575px) {
	.list_1__subtitle {display: none;}
}
.list_1__category-list {
	position: absolute;
	right: 0;
	top: 0;
    margin: 10px;
}
.list_1__category-item {
    display: inline-block;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}
.list_1__category-link {
	display: block;
	color: #fff;
	padding: 4px 8px;
	font-size: 10px;
	line-height: 1em;
	text-transform: uppercase;
}

/* detail */
.detail {
    margin-top:15px;
}
.detail picture {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.detail__title {
	font-family: Exo2Bold;
	margin: 30px 0 15px 0;
	padding-left: 5px;
	border-bottom: 2px solid #ed5351;
	color: #2c4059;
}
.detail__subtitle {
	margin: 30px 0 15px 0;
	padding-left: 5px;
	font-size: 19px;
}
.detail__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/*font__wN*/
.font__w9 {
    font-size: 18px;
}
@media (min-width: 768px) {
    .font__w9 {font-size: 24px;}
}

/* banner-3 */
.banner-3 {
    margin: 15px 0;
}
.banner-3__item {
    background-color: #000;
    overflow: hidden;
    position: relative;
}
.banner-3__link {
    display: block;
    height: 100%;
}
.banner-3__link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000, transparent);
    opacity: 0.7;
    transition: 300ms ease-in-out;
}
.banner-3__link:hover:before {
    opacity: 0.8;
    transition: 300ms ease-in-out;
}
.banner-3__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.banner-3__info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 15px;
}
.banner-3__title {
    font-family: Exo2Bold;
    line-height: 1.4em;
}
.banner-3__subtitle {
    line-height: 1.2em;
}
@media (max-width: 575px) {
    .banner-3__subtitle {display: none;}
}
.banner-3__sticker {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}
.banner-3__sticker a {
    display: block;
    color: #fff;
    padding: 4px 8px 2px 8px;
    font-size: 10px;
    line-height: 1em;
    text-transform: uppercase;
}

/*lists*/
.type-1 {

}
.type-1__item {

    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 3px;
}
.type-1__link {
    display: block;
    height: 100%;
    position: relative;
}
.type-1__link:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #000, transparent);
    opacity: 0.7;
    transition: 300ms ease-in-out;
}
.type-1__link:hover:before {
    opacity: 0.8;
    transition: 300ms ease-in-out;
}
.type-1__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.type-1__info {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #fff;
    padding: 15px;
}
.type-1__title {
    font-family: Exo2Bold;
    font-size: 18px;
}
@media (min-width: 768px) {
    .type-1__title {font-size: 16px;}
}
.type-1__category-list {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}
.type-1__category-item {
    display: inline-block;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}
.type-1__category-link {
    display: block;
    color: #fff;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 1em;
    text-transform: uppercase;
}
