/* banner-7 */
.banner-7 {
	margin: 15px 0;
}
.banner-7__item {
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.banner-7__image {
	background-color: #000;
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.banner-7__item picture {
	width: 100%;
	height: 100%;
	max-width: 350px;
}
@media (max-width: 767px) {
	.banner-7__item {flex-direction: column;}
	.banner-7__item picture {width: 100%;height:50%;max-width: unset;}
}
.banner-7__info {
	padding: 0 15px;
}
.banner-7__info-title {
	margin-top: 15px;
	font-family: RobotoBold;
	color: #000;
	display: block;
	font-size: 19px;
	line-height: 1.4em;
}
.banner-7__subtitle {
	margin-top: 15px;
	font-size: 17px;
	line-height: 1.2em;
}
@media (max-width: 575px) {
	.banner-7__subtitle {display: none;}
}
.banner-7__sticker {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 5px;
}
.banner-7__sticker a {
	display: block;
	color: #000;
	padding: 4px 8px 2px 8px;
	font-size: 10px;
	line-height: 1em;
	text-transform: uppercase;
}