.content {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    background-color: #e5e5e5;
}
.success,
.error {
    padding: 15px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.success {
    background: radial-gradient(#3d803d, #2c592c);
}
.error {
    background: radial-gradient(#803d3d, #592c2c);
}
.content__header {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr;
}
.content__default {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr;
}
.content__mode {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 10px 20px;
}
.content__body {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    background-color: #e0e0e0;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.1);
}
.content__main {
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(30px, auto);
    padding: 45px 0;
}
.content__area textarea {
    padding: 10px 20px;
    color: #333333;
    resize: none;
    width: 100%;
}
.content__area .area {
    padding: 10px 20px;
    color: #333333;
    resize: none;
    width: 100%;
    word-break: break-all;
}
.content__image {
    padding: 15px;
    width: 100%;
    max-width: 500px;
    line-height: 0;
}
.content__image img {
    width: 100%;
    height: 100%;
}

.content__area input {
    padding: 5px 10px;
    width: 100%;
}
.content__area {
    position: relative;
    background-color: #fff;
}
.content__area *:not(.name) {
    font-size: 16px;
}
.content__text {
    height: 100%;
}
.content__quote {
    height: 100%;
}
.content__footer {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
}
.content__snippets {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 575px) {
    .content__snippets {grid-template-columns: 1fr;}
}
.content__type {
    width: 100%;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    background: radial-gradient(#3e5c80, #2c4059);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.content__buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
.content .submit {
    padding: 10px 20px;
    background: radial-gradient(#f29966, #f27c36);
    color: #fff;
    text-transform: uppercase;
}

/* NAME */
.content .name {
    display: inline-block;
    position: absolute;
    top: -20px;
    left: 0;
    text-transform: uppercase;
    background: radial-gradient(#3e5c80, #2c4059);
    color: #fff;
    padding: 2px 30px;
    font-size: 11px;
    cursor: pointer;
}
.name[data-select] {
    background: radial-gradient(#f29966, #f27c36);
}

/* REMOVE */
.content .remove {
    position: absolute;
    top: -20px;
    height: 20px;
    display: inline-block;
    background: radial-gradient(#803d3d, #592c2c);
    /*background: radial-gradient(#f88, #f00);*/
    color: #fff;
    right: 0;
    width: 20px;
    cursor: pointer;
}
.content .remove:before,
.content .remove:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    width: 10px;
    margin-left: -5px;
    margin-top: -1px;
    background-color: #fff;
}
.content .remove:before {
    transform: rotate(45deg);
}
.content .remove:after {
    transform: rotate(-45deg);
}
.content .remove:active {
    opacity: 0.8;
}
.remove__popup {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9998;
}
.content__area[data-show] .remove__popup {
    display: flex;
}
.remove__popup-body {
    width: 200px;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    background-color: #fff;
    z-index: 9999;
    padding: 15px;
}
.remove__popup-title {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}
.remove__popup-select {
    display: flex;
    justify-content: space-around;
}
.remove__popup-button {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.remove__popup-button:active {
    opacity: 0.8;
}
.remove__popup-button[data-y] {
    background: radial-gradient(#803d3d, #592c2c);
}
.remove__popup-button[data-n] {
    background: radial-gradient(#3d803d, #2c592c);
}

/* MOVE */
.content .move {
    position: absolute;
    top: -20px;
    height: 20px;
    display: inline-block;
    background: radial-gradient(#3d803d, #2c592c);
    color: #fff;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
.content .move[data-unactive] {
    background: radial-gradient(#808080, #595959);
}
.content .move[data-up] {
    right: 20px;
    line-height: 1.1;
}
.content .move[data-down] {
    right: 60px;
    line-height: 1.3;
}

/* REFER */
.content .refer {
    position: absolute;
    top: -20px;
    height: 20px;
    display: inline-block;
    background: radial-gradient(#F2DA66, #6F6637);
    color: #fff;
    width: 40px;
    text-align: center;
    line-height: 0;
}
.content .refer[data-unactive] {
    background: radial-gradient(#808080, #595959);
}
.content .refer i {
    font-size: 14px;
    line-height: 1.7;
}
.content .refer[data-link] {
    right: 140px;
}
.content .refer[data-unlink] {
    right: 100px;
}
.refer__popup {
    display: none;
    align-items: center;
    justify-content: center;
    content: '';
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9998;
}
.refer__popup[data-show] {
    display: flex;
}
.refer__popup [data-hide] {
    display: none;
}
.refer__popup-body {
    width: 100%;
    max-width: 800px;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    background-color: #fff;
    z-index: 9999;
    padding: 15px;
    margin: 15px;
}
.refer__popup-title {
    color: #000;
    text-align: center;
    margin-bottom: 30px;
}
.refer__popup-input {
    margin-bottom: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    border: 1px solid rgba(200,100,100,0);
}
.refer__popup-input[data-empty] {
    animation: 1000ms ease-in-out inputEmpty;
}
@keyframes inputEmpty {
    0% {
        border: 1px solid rgba(200,100,100,1);
    }

    100% {
        border: 1px solid rgba(200,100,100,0);
    }
}
.refer__popup-select {
    display: flex;
    justify-content: space-around;
}
.refer__popup-button {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.refer__popup-button:active {
    opacity: 0.8;
}
.refer__popup-button[data-y] {
    background: radial-gradient(#3d803d, #2c592c);
}
.refer__popup-button[data-d] {
    background: radial-gradient(#803d3d, #592c2c);
}
.refer__popup-button[data-c] {
    background: radial-gradient(#F2DA66, #6F6637);
}

/* TABLE */
.table {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 20px;
}
.table table {
    width: 100%;
    border-spacing: unset;
    border-collapse: collapse;
}
.table td {
    border: 1px solid #2c4059;
    min-width: 20px;
    text-align: center;
    padding: 2px;
    word-break: break-all;
}
.table__change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}
.table__change:active {
    opacity: 0.8;
}
.table__change.plus {
    background: radial-gradient(#3d803d, #2c592c);
}
.table__change.minus {
    background: radial-gradient(#803d3d, #592c2c);
}

.table__change.stop-plus:not(.minus),
.table__change.stop-minus:not(.plus) {
    background: radial-gradient(#808080, #595959);
}
.table .invert {
    background: radial-gradient(#3e5c80, #2c4059);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.table .invert i {
    color: #fff;
    font-size: 12px;
}
.table .invert:active i {
    transform: rotate(180deg);
    transition: 100ms ease-in-out;
}

/* LIST */
.list {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
}
.list > div:first-child {
    grid-column: 1/3;
}
.list ul {
    grid-column: 1/3;
}
.list li {
    display: block;
    border: 1px solid #2c4059;
    padding: 2px;
}
.list li:not(:first-child) {
    margin-top: -1px;
}
.list .list__change {
    text-align: center;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    cursor: pointer;
}
.list .list__change:active {
    opacity: 0.8;
}
.list .list__change.plus {
    grid-column: 1/2;
    background: radial-gradient(#3d803d, #2c592c);
}
.list .list__change.minus {
    grid-column: 2/3;
    background: radial-gradient(#803d3d, #592c2c);
}
.list .list__change.minus.stop-minus {
    background: radial-gradient(#808080, #595959);
}